<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>ServletConnection</servlet-name>
        <servlet-class>fr.eni.projetenchere.servlet.ServletConnection</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletConnection</servlet-name>
        <url-pattern>/connect</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletInscription</servlet-name>
        <servlet-class>fr.eni.projetenchere.servlet.ServletInscription</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletInscription</servlet-name>
        <url-pattern>/profil</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>connect</welcome-file>  <!-- nom d'un url pattern -->
    </welcome-file-list>
</web-app>